.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  img {
    width: 360px;
  }

  h2 {
    font-weight: 800;
    margin-bottom: 10px;
  }

  p {
    text-align: justify;
    margin-bottom: 10px;
  }

  .selector {
    margin: 0 auto;
    width: 250px;
  }

  .ingredients {
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
  }

  .price {
    margin: 15px 0;
    font-size: 20px;
  }

  @media (max-width: 420px) {
    img {
      width: 260px;
    }
  }
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;

  li {
    cursor: pointer;
    padding: 5px;

    &:first-of-type {
      cursor: default;
      padding: 8px;
    }

    .icon {
      margin-left: 5px;

      .first-line,
      .second-line {
        transform-origin: center;
        transition-duration: 0.7s;
      }

      &:hover {
        cursor: pointer;
        .first-line {
          transform: rotate(-45deg);
          transition-duration: 0.7s;
        }

        .second-line {
          transform: rotate(45deg);
          transition-duration: 0.7s;
        }
      }
    }

    .icon-active {
      margin-left: 5px;
      transition-duration: 0.7s;

      &:hover {
        stroke: rgb(0, 85, 128);
        transition-duration: 0.7s;
      }
    }
  }
}

.additional {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
